select{
    width: 100px!important;
}
.form{
    width: 425px;
    display: flex;
    font-size: large;
    /* width: 700px;  */
    /* margin: 200px;  */
    text-align: center; 
    vertical-align: middle;
    margin: auto;
    padding: 20px;
    color: white;
    background-color: #3E444A!important;
}
body{
    padding-top: 15%;
    margin: auto;
    text-align: center;
    background-color: #3E444A!important;
    color: white!important;
}
label{
    padding:0px 10px;
}