/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 30px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 30px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
colgroup col.success {
    background-color: #3E444A!important;
    border-color: green!important;
    color: black!important;
}
div.container div{
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}
.jumboton , body{
    margin: 0px;
    width: 100%;
    /* background-color: rgb(35, 38, 39); */
    padding: 0px;
}
body { 
    padding: 10px 30px 30px;
    margin: 0px;
	/* background-image: url("https://images.chesscomfiles.com/uploads/v1/theme/101411-0.2d687d92.jpg"); */
	background-color: rgb(35, 38, 39);
}
footer{
    margin-top: 10px!important;
    color: white;
    padding-top: 10px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
.tableCon{
    width: 100%;
}
#clock { 
    font-size: large;
    /* width: 700px;  */
    /* margin: 200px;  */
    text-align: center; 
    border-radius: 20px; 
    background-color: #484E53;
    color: white;
} 
#nowNext{ 
    font-size: large;
    /* width: 700px;  */
    /* margin: 200px;  */
    text-align: center; 
    vertical-align: middle;
    border-radius: 20px; 
    margin: auto;
    padding: 10px;
    background-color: #484E53;
    color: white;
}
table{
    margin: 0px!important;
}
body::-webkit-scrollbar{
    width: 0.35rem;
}
body::-webkit-scrollbar-thumb{
    background-color: #343A40;
}
body::-webkit-scrollbar-track{
    background-color:rgb(35, 38, 39);
}
#ClassSelectContainer{
    display: flex;
    margin: auto;
    text-align: center; 
    width: 100px;
}
/*  */
/* .wrap {
	display: flex;
	background: #ccc;
	width: 100%;
	justify-content: space-between;
  }
  .wrap div:last-child {
	margin-left: auto;
  }
	   */
  .result {
	color: white;
	margin-top: 20px;
  }
  
  .result:after {
	content: '';
	display: table;
	clear: both;
  }
  
  .result div {
	float: left;
  }
  .result div:last-child {
	float: right;
  }