colgroup col.success {
    background-color: #3E444A!important;
    border-color: green!important;
    color: black!important;
}
div.container div{
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}
.jumboton , body{
    margin: 0px;
    width: 100%;
    /* background-color: rgb(35, 38, 39); */
    padding: 0px;
}
body { 
    padding: 10px 30px 30px;
    margin: 0px;
	/* background-image: url("https://images.chesscomfiles.com/uploads/v1/theme/101411-0.2d687d92.jpg"); */
	background-color: rgb(35, 38, 39);
}
footer{
    margin-top: 10px!important;
    color: white;
    padding-top: 10px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: white;
}
.tableCon{
    width: 100%;
}
#clock { 
    font-size: large;
    /* width: 700px;  */
    /* margin: 200px;  */
    text-align: center; 
    border-radius: 20px; 
    background-color: #484E53;
    color: white;
} 
#nowNext{ 
    font-size: large;
    /* width: 700px;  */
    /* margin: 200px;  */
    text-align: center; 
    vertical-align: middle;
    border-radius: 20px; 
    margin: auto;
    padding: 10px;
    background-color: #484E53;
    color: white;
}
table{
    margin: 0px!important;
}
body::-webkit-scrollbar{
    width: 0.35rem;
}
body::-webkit-scrollbar-thumb{
    background-color: #343A40;
}
body::-webkit-scrollbar-track{
    background-color:rgb(35, 38, 39);
}
#ClassSelectContainer{
    display: flex;
    margin: auto;
    text-align: center; 
    width: 100px;
}
/*  */
/* .wrap {
	display: flex;
	background: #ccc;
	width: 100%;
	justify-content: space-between;
  }
  .wrap div:last-child {
	margin-left: auto;
  }
	   */
  .result {
	color: white;
	margin-top: 20px;
  }
  
  .result:after {
	content: '';
	display: table;
	clear: both;
  }
  
  .result div {
	float: left;
  }
  .result div:last-child {
	float: right;
  }